# Git
.git
.gitignore

# Python
.ruff_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env
*.egg-info/

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# IDE / OS
.idea/
.vscode/
*.DS_Store

archive/
.pre-commit-config.yaml
