ENV= # Environment name (dev, staging, prod)
DEBUG=
WORKERS= # number of uvicorn workers
ORIGINS= # space separated origin addresses
DATABASE_URL=postgresql+asyncpg://[user:password@]host[:port]/database_name
REDIS_URL=
RATELIMIT_ENABLED=
RATELIMIT_GUEST=

OTEL_RESOURCE_ATTRIBUTES="service.name=fastapi-template,service.namespace=fastapi,deployment.environment=development"
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_HEADERS=
OTEL_EXPORTER_OTLP_PROTOCOL=

# Configure exporters
OTEL_TRACES_EXPORTER=
OTEL_METRICS_EXPORTER=
OTEL_LOGS_EXPORTER=

# Enable log correlation (injects trace_id into logs)
OTEL_PYTHON_LOG_CORRELATION=true
OTEL_PYTHON_LOGGING_AUTO_INSTRUMENTATION_ENABLED=true
